.hikes-container {
    display: flex;
    margin: 6% 8%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
.hike-card {
    border-radius: 12px;
    margin: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    flex: 1;
    z-index: 1;
  }
  
.hike-card:hover {
    transform: translateY(-5px);
  }

.hike-image-container {
  width: 100%;
}

.hike-image {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
    height: 500px;
    max-height: 100%;
  }
  
.hike-spots {
  margin-left: 3%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hike-details {
    padding: 20px;
  }
  
.hike-header {
    margin-left: 3%;
    align-items: center;
  }
  
.hike-name {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #439145;
  }
  
.hike-date,
  .hike-location {
    font-size: 24px;
    color: #555;
    margin-bottom: 5px;
  }
  
.hike-description-details {
    font-size: 20px;
    color: #555;
    font-style: italic;
  }
  
.hike-booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  
.book-btn {
  background-color:#439145 ;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  font-size: large;
  padding: 10px;
  width: 30%;
  margin-top: 10;
  margin-right: 2%;
  }
  
.book-btn:hover {
    background-color: #005214;
    color: #fff;
    border: none;
  }

.available-spots {
    padding-right: 10px;
}

/* Media Queries */
  
@media screen and (max-width: 1200px) {
    .hikes-container {
      margin: 2% 5%;
      display: flex;
      flex-wrap: wrap;
    }
  }
  
@media screen and (max-width: 768px) {
    .hike-card {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }
  
@media screen and (max-width: 480px) {
    .hikes-container {
      display: block;
    }
    .hike-card {
      margin: 10px 0;
      display: block;
      margin: 3% auto;
      width: 80%;
    }
  }
  