
.footer-main{
    color: whitesmoke;
    background-color: #439145;
    height: 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 10px;

}
.info{
    display: flex;
    gap: 20px;
    align-items: flex-end;
    margin-left: 20px;
}
.footer-social-media{
    display: flex;
    width: 300px;
    align-items: center;
    flex-direction: column;
    height: 60px;
    margin-top: -10px;
    font-size: 15px;
}
.spans{
    display: flex;
    gap: 30px;
}
.copy-div{
    display: flex;
    align-items: flex-end;
}
