
.footer-main{
    background-color: #005214;
    color: whitesmoke;
    background-color: #439145;
    display: flex;
    justify-content: space-between;
}

.footer-content {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.footer-mail-div {
    display: flex;
}

.material-symbols-outlined {
    margin-top: 17px;
}


/* .footer-content {
    margin-left: 60%;
}

.spans {
    display: flex;
    padding: 2%;
}

.socialmedia-icons{
    margin: 0 5%;

}

.footer span {
    margin-left: 20px;
}

.footer-content h3 {
    border-bottom: 1px solid whitesmoke;
    width: fit-content;
    margin-right: 20px;
} */
/* 
.footer {
    display: flex;
    align-items: center;
} */

.copy-div {
    margin: auto;
    background-color: #005214;
    color: whitesmoke;
    align-items: center;
    padding: 1% 0;
}

.copy-div span {
    margin-left: 45%;
}

/* 
@media screen and (max-width: 768px) {
    .footer {
      display: block;
      justify-content: center;
      align-items: center;
  }
  .footer-content {
    display: block;
  }
} */