.navbar{
    display: flex;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    gap: 30px;
    background-color: #439145;
}
.nav-buttons{
    color: black;
    font-weight: 100;
    color: white;
}
.navbar a{
    text-decoration: none;
}