/* Default styles for the navbar */
.navbar {
    display: flex;
    background-color: #439145;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
  }
  .navbar-buttons{
    display: flex;
    gap: 20px;
  }

  .nav-buttons {
    font-weight: 100;
    color: white;
    transition: color 0.3s;
  }
  
  .navbar a {
    text-decoration: none;
  }
  
  .nav-buttons:hover {
    color: limegreen;
  }
  .navbar-logo{
    width: fit-content;
    font-size: x-large;
    font-family:monospace;
    color: whitesmoke;
    font-weight: bolder;
    height: fit-content;
  }
  .navbar-logo span{
    color:limegreen;
    font-size: 30px;
  }
  /* Media query for smaller screens (adjust the breakpoint as needed) */
  @media (max-width: 768px) {
    .navbar {
        display: grid;
      grid-template-columns: 2fr 2fr; /* Stack items vertically on smaller screens */
      padding: 5px; /* Reduce padding for smaller screens */
      text-align: center;
    }
    .nav-buttons {
      margin: 10px 0; /* Add space between items on smaller screens */
    }
  }
  